.block-3 {
  width: 1110px;
  height: 482px;
  position: absolute;
  top: 2070px;
  right: 405px;
}
.line__block-3 {
  position: absolute;
  top: 83px;
}
.heading__block-3 {
  position: absolute;
  top: 126px;
  font-family: Roboto-bold;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 4;
}
.text__block-3 {
  position: absolute;
  top: 193px;
  width: 445px;
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
  z-index: 3;
}
.block-info {
  width: 600px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 510px;
  top: 80px;
  z-index: 2;
}
.block__block-info {
  width: 200px;
  height: 160px;
  background: #ffffff;
}
.heding-block {
  margin-top: 23px;
  font-family: Roboto-bold;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

}
.text-1__block {
  margin-bottom: 10px;
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;

}
.text-2__block {
  /* position: absolute; */
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

}
.block__block-info {
  text-align: center;
}
.shadow__block-3 {
  width: 410px;
  height: 482px;
  position: absolute;
  left: 350px;
  z-index: 1;
  background: #393f47;
}
